<!doctype html>
<html ng-app="myModule">
    <head>
        <script src="/angular/Scripts/angular.min.js"></script>
        
      <!--/*<script src="/angular/Template/Scripts/angular-route.js"></script>*/-->
      <!--<script src="/angular/Template/Scripts/angular-route.js"></script>-->
       <script src="/angular/Template/Scripts/angular-route.min.js"></script>
        <script src="/angular/Template/Scripts/script.js"></script>
       <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.route.min.js
"></script>-->
         <link rel="stylesheet" type="text/css" href="/angular/Template/CSS/style.css">
    <!--<base href="/angular/Template"/>
   -->
    </head>
    <body ng-controller="homeController"  >
       
        <table style="font-family:Arial;">
            <tr>
                <td colspan="2" class=""header><h1>website Header</h1></td>
            </tr>
            <tr  >
                <td class="leftMenu">
                <a href="#!home">HOME</a>
                <a  href="#!course">COURSES</a>
                <a href="#!joanna">STUDENTS</a>
				  <a href="phpmysqlgetan/index.html">STUDENTS</a>
                <!--<a href="home">HOME</a>
                <a  href="course">COURSES</a>
                <a href="joanna">STUDENTS</a>-->
                 <!--<a href="prema">PREMA</a>-->
                </td>
                <td class="mainContent">
                    <!--<div ng-view></div>-->
                    <ng-view></ng-view>
                    </td>
            </tr>
<tr><td colspan="2" class=""footer><b>Website Footer</b></td></tr>

        </table>
    </body>
</html>