<!doctype html>
<html ng-app="myModule">
    <head>
        <script src="/angular/Scripts/angular.min.js"></script>
        
        
        
        <script src="Scripts/sort.js"></script>
      
         <link rel="stylesheet" type="text/css" href="./CSS/style.css">
    </head>
    <body ng-controller="myController"  >
        <div>
          
          <input type="checkbox" ng-model="hideSalary"/> hide Salary: 
        <table border="3" align='center'>
<thead>
<tr><th>Name</th><th>Gender</th><th >City</th><th ng-hide="hideSalary">Salary </th><<th ng-show="hideSalary">Salary </th></tr>
</thead>
<tbody>
    <!--<tr ng-repeat="thechh in technologies |orderBy:'-name':true"><td>-->
    <tr ng-repeat="hide in salary "><td>
    {{ hide.name | uppercase }}
    </td>
   
    <td>
    {{hide.gender | lowercase}}
    </td>
     <td >
    {{hide.city | lowercase}}
    </td>
     <td ng-hide="hideSalary" >
  {{hide.salary | number : 2}}
    </td>
      <td ng-show="hideSalary" >
          #####</td>
    </tr></tbody>

</table>
</body>
</htnl>