<!doctype html>
<html>
    <head>
        <title>How to get data from MySQL with AngularJS - PHP</title>
        <script src="/phpmysqlgetan/angular.min.js"></script>
        
    </head>
    <body ng-app='myapp'>

        <div ng-controller="userCtrl">
           <!-- <input type="text" ng-model="searchFilter" class="form-control">-->
		   name:<input type="text" ng-model="users.fname"><button ng-click="users.searchStudent">Search</button>
		   
		   
              <table border="1">
                
                <tr>
		    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                </tr>
                
                <!--<tr ng-repeat="user in users">-->
                     <tr ng-repeat="user in users ">
			 <td><a href="user/{{user.id}}">{{user.id}}</a></td>
			 
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                </tr>
                
            </table>
        </div>
        
        <!-- Script -->
        <script>
        var fetch = angular.module('myapp', []);

        fetch.controller('userCtrl', ['$scope', '$http', function ($scope, $http,$route,$location) {
           /* var vm=this;
			vm.searchStudent=function(){
			if(vm.fname)
			$location.url("/phpget/"+vm.fname);
			}
			else{
			$location.url("/phpget.html");
			}*/
            $http({
            method: 'get',
            url: 'get.php'
            }).then(function successCallback(response) {
                $scope.users = response.data;
            });

        }]);

        </script>
    </body>

</html>
