<!doctype html>
<html ng-app="myModule">
    <head>
        <script src="/angular/Scripts/angular.min.js"></script>
         <script src="/angular/Scripts/script.js"></script>
           </head>
    <body ng-controller="myController"  >
        <div >
             <p>My first expression: {{ message }}</p>
  <p>My first expression: {{ 5 == 51 }}</p>
   <!-- This is declar propaties -->
   <p>My first expression: {{ {name:'madhavi',age:'20'}.name }}</p>
   <!-- This is declar array -->
    <p>My first expression: {{ ['madhavi','prema','joannah','bhula'][2] }}</p>
</div>
   <div>
  <p>My first expression: {{ 55 + 55 }}</p>
   <p>My first expression: {{ message }}</p>
</div>
<div>

Name: {{employee.firstName }}
LastNmae: {{employee.lastNmae }}
Gender: {{employee.gender }}
</div>
<div>
Name: {{country.name }}
capital: {{country.capital }}


</div>
<div><img ng-src="{{country.flag }}" style="height: 100px;width: 100px;"/></div>
</br>
</br>
<div>{{message}}</div>
</br></br>
<input type="text" ng-model="message"/>
</br></br>
<div>

<table>
<tr><td>firstName</td><td> {{employee.firstName }}</td></tr>
<tr><td>SecondName</td><td>{{employee.lastNmae }}</td></tr>
<tr><td>Gender</td><td>{{employee.gender }}</td></tr>
</table>
</br>
</br>
<table>
<tr><td>firstName</td><td><input type="text" ng-model="employee.firstName"></td></tr>
<tr><td>SecondName</td><td><input type="text" ng-model="employee.lastNmae"></td></tr>
<tr><td>Gender</td><td><input type="text" ng-model="employee.gender"></td></tr>
<tr><td></td><td><input type="submit" ng-model="submit"></td></tr>
</table>
</br>
</br>
<!--ng-repeat -->
<table border="2" align='center'>
    <p  align='center'>ng-repeat directive in angular</p>
 <thead>
<tr><th>FristName</th><th>LastNmae</th><th>Gender</th><th>Salary</th></tr></thead>
<tbody>
<tr ng-repeat="repeat in repeat"><td>{{ repeat.firstName}}</td><td>{{ repeat.lastNmae}}</td><td>{{ repeat.gender}}</td><td>{{ repeat.salary}}</td></tr></tbody>

</table>
</br></br>
<div  >
   <p  align='center'> Nest ng-repeat directive in angular</p>
   <ul >
       <li  ng-repeat="country in nest " ng-init="parentIndex=$index" >
         {{country.name}} - Index= {{$index}}
<ul><li ng-repeat="city in country.cities">
    {{city.name}}  - Parent Index={{$parent.$index}} {{parentIndex}} , Index= {{$index}}
</li>
       </li>
       </ul> 
</div>
</div>
<div>

 <p  align='center'> handling events in angular
<table border="3" align='center'>
<thead>
<tr><th>Nmae</th><th>Likes</th><th>Dislikes</th><th>Likes/Dislikes</th></tr>
</thead>
<tbody><tr ng-repeat="thech in technologies"><td>
    {{thech.name}}
    </td>
    
    <td>
    {{thech.likes}}
    </td>
    <td>
    {{thech.dislikes}}
    </td>
    <td><input type="button" value="like" ng-click="incrementlikes(thech)">
    <input type="button" value="Dislike" ng-click="incrementDislikes(thech)">
    </tr></tbody>

</table>

</div>
</body>
    </html>
 